pre {
    background-color: var(--gray-2);
    padding: 0.5em;
    border: solid 1px var(--gray-3);
    border-radius: 5px;
}

code {
    background-color: var(--gray-2);
    padding: 3px;
    border-radius: 3px;
}