body {
    min-height: 100vh;
    flex-direction: column;
    display: flex;

    a {
        text-decoration: none;
    
        &:hover {
            text-decoration: underline;
        }
    }

}

main {
    &.container {
        margin-top: 2rem;
    }
}


.tags {
    ul {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.8rem;
    }

    li {
        display: inline-block;

        a {

            color: var(--bs-white);
            background-color: var(--bs-primary-light);
            padding: 0.1rem 0.4rem;
            margin-right: 0.4rem;
            border-radius: 4px;


            &:hover {
                text-decoration: none;
                background-color: var(--bs-primary);
            }
        }
    }
}

.no-description {
    color: var(--bs-gray-6);
    font-style: italic;
}

$border-color: black;
$border-thickness: 1.5px;

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  background-color: lightgray;

  th, td {
    border: 1px solid $border-color;
    padding: 0.4rem;
    text-align: left;
  }

  th {
    background-color: #CFD3D5;
  }

  tr:last-child td {
    border-bottom: none;
  }

  th:last-child, td:last-child {
    border-right: none;
  }
}


