.header-video {
    position: relative;
    min-height: 40vh;
    overflow: hidden;
    color: var(--bs-white);
    text-align: center;

    &.notFound {
        height: 100vh;
        .row {
            height: 100vh;
        }
    }

    .row {
        min-height: 40vh;
        align-items: center;
    }

    video {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        margin-top: 1rem;
    }

    a {
        color: var(--bs-primary-light);
        &:hover {
            color: var(--bs-primary);
        }
    }
}




