.list-container {
    background-color: var(--gray-1);
    padding-top: 0.5rem;
    margin-bottom: 4rem;

    .plugin-list {

        .list-item {
            border-top: solid 1px var(--gray-3);
            padding: 0.5rem 0;

            .thumbnail {
                img {
                    border: solid 3px var(--gray-3);
                    width: 100%;
                    height: 120px;
                    object-fit: cover;
                }
            }

            .avatar {
                width: 20px;
                height: 20px;
                border-radius: 10px;
                position: relative;
                top: -0.1rem;
            }

            .footer {
                color: var(--gray-6);

                span:not(:last-child):after {
                    content: '\25CF';
                    margin: 0 0.3rem;
                    font-size: 0.6rem;
                    color: var(--gray-4);
                    position: relative;
                    top: -2px;
                }

            }
        }

    }

    .pagination {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: solid 1px var(--gray-3);

        .page-item {
            &.disabled {
                opacity: 0.5;
            }
        }
    }

    .view-more {
        padding: 1rem 0;
        margin-top: 1rem;
        border-top: solid 1px var(--gray-3);

        a {
            display: block;
            text-align: right;
        }
    }



}