.navbar {
    background-color: var(--bs-primary);

    .logo {
        width: 100px;
    }

    .submit-dropdown {
        min-width: 100%;
        background-color: var(--bs-gray-2);
        padding: 0.45rem;

        @media (min-width: map-get($grid-breakpoints, "md")) {
            min-width: 25vw;
        }

        input {
            &::placeholder {
                color: var(--bs-gray-2);
            }
        }
    }

    .nav-divider {
        border-right: solid 1px var(--bs-primary-dark);
        margin: 0 1rem;
    }

}